<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w==" crossorigin="anonymous" />
    <style>
        div img {
            position: fixed;
}
    </style>
</head>
<body>
<!--     <div class="bg-image"></div> -->
<div class="bg-rose-300 ...">
    <img class="object-contain h-full w-full ..." src="../img/13.png">
  </div>
</body>
</html>